*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.fixed-header {
    position: fixed;
    background-color: #04293A;
    z-index: 999;
}
.relative-header{
    position: relative;
    background-color: #04293A;
}

main {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #063d57;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12vh; 
    padding: 1.2rem;
}
a{
    text-decoration: none;
}

.logo, nav button {
    margin-top: -0.7rem;
}
.logo img{
    width: 6vw;
    padding-left: 1rem;
 }
.pages-nav, .menu-nav-button, #info-button{
  background-color: #ECB365;
  border: none;
  color: #041C32;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
.pages-nav:hover, .menu-nav-button:hover, #info-button:hover{
    background-color: #f0c384;    
}
.container-2 {
    margin-bottom: 1vh;
}
.featured_img {
    margin-top: 12vh;
    width: 100vw;
    height: 100vh;
}

.container-3{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #ECB365;
}

.container-3 img{
    height: 110vh;
    width: 60vw;
}

.container-3 div{
    padding-left: 3vh;
    padding-top: 0vh;
}

.container-3 div p{
    font-size: 2rem;
    padding-bottom: 20vh;
}

.container-3 div a{
    padding-left: 30vh;
}

.container-4{
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;
    padding: 6vh 10vh 6vh 10vh;
}

.reviews p, .reviews h4{
    padding: 0 1vh 0 0.7vh;
    font-size: 1.5rem;
}

footer {
    background-color: #04293A;
    padding: 5px;
    color: #ECB365;
}
footer h3 {
    text-align: center;
}
.copyright {
    text-align: center;
}

/* Details Page*/

.history {
    width: 90vw;
    margin: 50px;
    margin-top: 0%;
   
}
.history h3 {
    text-align: center;
    text-align: center;
    font-size: 2.1rem;
    padding: 2rem;
    color: #ECB365;
}
.history p {
    padding-left: 10%;
    font-size: 1.35rem;
}

.loc-details {
    display:inline-block;
    margin: 0 0 0 15vw;
}
.location, .map {
    display: inline-block;
    margin-left: 3vw;
}

.location p {
    padding-bottom: 1rem;
}



/* Menu Page */
.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 1.6rem;
}
.menu h1, .menu-cards h2 {
    text-align: center;
    color: #ECB365;
}
.menu-cards h2 {
    padding: 0.6rem;
    border:0.3rem solid #ECB365;
    border-radius: 2rem;
    border-width: 2rem 1rem;

}
.content {
    display: flex;
    justify-content: center;
    flex-basis: 15%;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    border-radius: 5% ;
}

.card{
    background-color: white;
    width: 15.25rem;
    box-shadow: 0 5px 25px rgba(1,1,1,0.15);
    border-radius: 30px ;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.card h3 {
    font-size: 25px;
}
.card h3 i{
    padding-left: 20%;
    color: rgb(224, 50, 12);
    font-size: 30px;
}
.card h3 i:hover {
    text-shadow: 0 0 3px 5px rgb(224, 50, 12);
    transform: scale(1.1);
}
.card:hover{
    transform: scale(1.05)
}

/* Contact Page */
#contact-h3 {
    text-align: center;
    font-size: 2.1rem;
    padding: 2rem;
    color: #ECB365;
}

form {
    padding: 30px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #ECB365;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
  }

  #message{
    height: 17em;
  }