*{
    font-family: 'Open Sans', 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    position: sticky;
    top: 0;
    background-color: #04293A;
    z-index: 999;
    height: 14vh;
}

body{
    background-color: #063d57;
}
main {
    padding: 0;
    margin: 0;
    height: 100%;
    
}
.container {
    display: flex;
    justify-content: space-between;
    width: 98vw;
    height: 14vh; 
    align-items: center;
}
form {
    display: inline;
    margin: -1vh;
}
.logo img{
    width: 8vw;
    padding-left: 2rem;
    
 }

.pages-nav, .menu-nav-button, #info-button{
  background-color: #ECB365;
  border: none;
  color: #041C32;
  padding: 1.5vh 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.2vw;
  cursor: pointer;
  border-radius: 15px;   
  font-size: 1.2em;  
}
.pages-nav:hover, .menu-nav-button:hover, #info-button:hover{
    background-color: #f0c384;    
}
.container-2 {
    margin-bottom: 1vh;
}
#info-button {
    font-size: 1.7rem;
    width: 10vw;
    position: absolute;
    right: 14%;
}
.featured_img {
    display: block;
    width: 90vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.container-3{
    padding: 2vh 1vw;
    display: flex;
    justify-content: space-between;
    color: #ECB365;
}

.container-3 img{
    height: 90vh;
    width: 60vw;
}

.container-3 div{    
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 1.5vw;
}

.container-3 div p{
    padding-top: 2.5vh;
    font-size: 1.6rem;
    padding-bottom: 2vh;
}

.container-3 div a{
    font-size: 1.2rem;
    position: relative;
    margin-left: 34%;
}
.container-3 div h1{
    font-size: 3.7rem;
    color: #eaa341;
}

.container-4{
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;
    padding: 0.5vh 10vh 6vh 10vh;
}

.container-4 div {
    padding: 1.3vw;
}

.reviews p{
    padding: 0.7vh;
    font-size: 1.6rem;
    color:#ECB365;
    text-align: left;
}
.reviews h4 {
    text-align: center;
    font-size: 1.8rem;
    color:#ECB365;
}
#reviews-title{
    text-align: center;
    font-size: 4rem;
    margin-top: 5vh;
    margin-bottom: 4vh;
    color: #eaa341;
}

footer {
    background-color: #04293A;
    padding: 0.5vh;
    color: #ECB365;
}

.icons-div {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;}
.icon {
    padding: 1vw;
    width: 5vw;
}
footer h3 {
    text-align: center;
}
.copyright {
    text-align: center;
}

/* Details Page*/

.history {
    width: 60vw;
    margin-bottom: 4vh;
    margin-left: 20vw;
    margin-right: 20vw;

}
.history h3 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem;
    color: #eaa341;
}
.history p {
    font-size: 1.5rem;
    color: #ECB365;
}
.loc-details {
    display:inline-block;
    margin: 0 0 0 15vw;
}
.location, .map {
    display: inline-block;
    margin-left: 2vw;
}
#map{
    width: 36vw;
    height: 50vh; 
    border: 0;
}

.location {
    position: relative;
    bottom: 8.5vh;
    font-size: 1.5rem;
    color: #ECB365;
}
.location h4 {
    font-size: 1.7rem;
    font-weight: 700;    
    color: #eaa341;

}
.location p {
    padding-bottom: 1rem;
    
}

/* Menu Page */
.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 98vw;
    padding: 1.5rem;
}
.menu h1 {
    font-size: 3.5rem;
    margin-left: 6vh;
    
}
.menu-nav nav {
    padding-top: 0.9vh;
    font-size: 1.4rem;
}
.menu h1, .menu-cards h2 {
    text-align: center;
    color:#eaa341;
}
.menu-cards {
    margin: -3vh 0 10vh 0;
}
.menu-cards h2 {
    font-size: 2rem;
    margin: 10vh 77vh 2vh 77vh;
    padding: 0.8rem;
    border: 0.3rem solid #ECB365;
    border-radius: 2rem;
    border-width: 0.7rem 0.7rem;

}
.content {
    display: flex;
    justify-content: center;
    flex-basis: 15%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    border-radius: 5%;
}

.card{
    background-color: white;
    width: 15.25rem;
    border-radius: 2em; 
    padding: 2vw;
    margin: 1vw;
    transition: 0.5s ease;
}

.card h3 {
    font-size: 1.4rem;
    font-weight: bold;
}
.card p{
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1.1rem;
    font-weight: 500;
}

.card h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1vh;
}

.card:hover{
    transform: scale(1.05)
}

/* Contact Page */
.contact-info {
    color: #ECB365;
    margin: 8vh;

}
.contact-info h2{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1vh;
}
.contact-info div{
    margin:4vh 8vw 0vw 8vw;
    display: flex;
    justify-content: space-between;
}
.contact-info h4 {
    font-size: 1.35rem;
    margin-top: 5vh;
    padding-bottom: 1vh;
}
.contact-info p{
    font-size: 1.3rem;
}
.contact-info label{
    font-size: 1.3rem;
    color: black;
}
.icon-1 {
    padding: 1vw;
    width: 5vw;
}
#contact-h3 {
    text-align: center;
    font-size: 2.1rem;
    padding-top: 1vh;
    padding-bottom: 5vh;
    color: #ECB365;
}

form {
    padding: 1vh;
}

input[type=text], textarea {
    width: 100%;
    padding: 1vh;
    border: 1px solid #ccc; /*right?*/
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    resize: vertical;
  }

  input[type=submit] {
    font-size: 1rem;
    background-color: #ECB365;
    color: rgb(0, 0, 0);
    padding: 2vh 4vh;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    position: relative;
    left: 42%;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container-contact {
    border-radius: 1rem;
    background-color: #f2f2f2;
    padding: 2.3vh;
    margin: 0vh 25vw 10vh;
  }

  #message{
    height: 17vh;
  }