*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    position: fixed;
    background-color: #04293A;
}

main {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #063d57;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12vh; 
    padding: 1.2rem;
}
a{
    text-decoration: none;
}

.container a:hover{
    color: blue;
}

.logo, nav button {
    padding-top: 2vh;
}
nav button, #info-button{
  background-color: #ECB365;
  border: none;
  color: #041C32;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
nav button:hover, #info-button:hover{
    background-color: #f0c384;    
}
.container-2 {
    margin-bottom: 1vh;
}
.featured_img {
    margin-top: 12vh;
    width: 98vw;
    height: 100vh;
}

.container-3{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #ECB365;
}

.container-3 img {
    width: 20vh;
    width: 50vw;
}

.container-3 div{
    padding-left: 1.5rem;
    padding-top: 8rem;
}

.container-3 div p{
    padding-bottom: 20px;
}

.container-3 div a{
    text-align: center;
}

footer {
    background-color: #04293A;
    padding: 5px;
    color: #ECB365;
}
footer h3 {
    text-align: center;
}
.copyright {
    text-align: center;
}

/* Details Page*/

.history {
    width: 90vw;
    margin: 50px;
   
}
.history h2 {
    text-align: center;
}
.history p {
    padding-left: 10%;
    font-size: 1.35rem;
}

.loc-details {
    display:inline-block;
    margin: 0 0 0 15vw;
}
.location, .map {
    display: inline-block;
    margin-left: 3vw;
}

.location p {
    padding-bottom: 1rem;
}



/* Menu Page */
.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 1.6rem;
}
.menu h1, .menu-cards h2 {
    text-align: center;
    color: #ECB365;
}
.menu-cards h2 {
    padding: 0.6rem;
    border:#ECB365 solid 0.3rem;
}
.content {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    text-align: center;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    border-radius: 5% ;
}

.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1,1,1,0.15);
    border-radius: 30px ;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.card h3 {
    font-size: 25px;
}
.card h3 i{
    padding-left: 20%;
    color: rgb(224, 50, 12);
    font-size: 30px;
}
.card h3 i:hover {
    text-shadow: 0 0 3px 5px rgb(224, 50, 12);
    transform: scale(1.1);
}
.card:hover{
    transform: scale(1.05)
}


